.navbar-content{
    background-image: url(../../images/beach.jpg);
    width: 100%;
    height: 118vh;
    border: solid 2px rebeccapurple;
    background-repeat: no-repeat;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
    border: solid 2px yellow; 
    list-style-type: none;
    
}

.logo{
   width: 15%;
   padding-right: 15px;
   /* height: 20%; */
   margin-right: 250px; 
   border: solid 2px rgb(25, 0, 255); 
   
 
 
   
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20%; 
     width: 30%; 
     margin-left: 20px;
    border: solid 2px red;
    
   

}
.container-menu{
    border: solid 2px rgb(0, 255, 51);
}
.nav-menu-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 30%;
    height: 30%;
    border: solid 2px rgb(0, 183, 255);
    margin: 0;
    padding: 0;
 
  
   
}
.menu{
    display: flex;
    justify-content:right;
    margin:0;
    padding: 0;
    
}
.nav-menu-link{
    display: flex;
    align-items: center;
    margin-inline-end: 10px;
    border: solid 2px rgb(0, 255, 51); 
 }
